# ignore objects and archives, anywhere in the tree.
*.[oa]
*.so

# ignore Emacs temporary files (all files ending in "~")
*~
*#
.#*

# ignore all root files
*.root
#except neutrino-energy map
!src/maps/neutrino_energy_fraction_map/*

# ignore image files
*.pdf
*.png

